@font-face {
    font-family: 'SVN Gotham Regular';
    src: url(/assets/fonts/SVN-Gotham\ Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background-color: #C2DEFF;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 16px;
    color: #fff;
    overflow: hidden;
    background: #234191;
}



.logo {
    margin-top: 30px;
}

.logo img {
    height: 60px;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 14px;
    margin: 12px 0;
    border-radius: 8px;
    /* transition: all 0.5s ease-in-out; */
}

.menu li:hover,
.active {
    background: #445da1;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 18px;
}

.menu a span {
    overflow: hidden;

}

.menu a i {
    font-size: 1.2rem;
}



/* Main body */

.screenhide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C2DEFF;
    z-index: 1000;
    text-align: right;
    justify-content: end;
    padding-top: 20px;
    padding-right: 20px;
    display: none;
}

.screenhide a {
    margin: 12px;
    background-color: grey;
    padding: 8px 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 80px;
    cursor: pointer;
}

.main-content,
.main-form {
    position: absolute;
    left: 240px;
    right: 0;
    height: 60px;
    width: 100%-240px;
    bottom: 0;
    top: 0;
}



.menu-mobile-btn {
    margin: 6px 20px 0 20px;
    display: none;
}

.menu-mobile-btn a {
    color: black;
    text-decoration: none;
}

.menu-mobile-btn a:hover {
    color: #244291;
}

.user-info {
    display: flex;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    background: #fff;
    width: 100%;
}

.header-wrapper .header-title {
    margin: 0 0 0 12px;
    line-height: 60px;
}

.header-wrapper .user-info {
    margin: 10px 20px;
}

.card-wraper {
    margin-top: 10px;
    display: flex;
    width: 90%;
}

.card-container {
    margin: 6px 12px;
    padding: 14px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;

}


.card-container:first-child {
    margin: 6px 12px;
    padding: 14px;
    display: flex;
    width: 25%;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
}

.card-container:last-child {
    margin: 6px 12px;
    padding: 14px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
}

.card-body {
    margin-left: 10px;
    width: 240px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
}

.card-body .card-title {
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
}

.card-body .card-content {
    margin-top: 10px;
    color: #234191;
}


.task-bar {
    margin-top: 12px;
    padding: 0 12px 0 12px;
    display: flex;
}

.list-student-nav {
    width: 500px;
    background-color: #fff;
    height: 30px;
    padding: 0 25px;
    border-radius: 4px;
    border: 1px solid aquamarine;
    margin-right: 20px;
}

.list-student-title {
    display: flex;
    list-style: none;
    justify-content: space-between;
    white-space: nowrap;
}

.list-student-title li a {
    color: #234191;
    font-size: 12px;
    text-decoration: none;
    line-height: 30px;
    text-overflow: clip;
    overflow: hidden;


}

.hideMobile-btn {
    display: none;
}

.list-student-title li a:hover {
    color: aqua
}

.search-bar {
    display: flex;
}

.search-bar input[type=text] {
    padding: 6px;
    font-size: 12px;
    height: 29px;
    border: none;
    border-radius: 4px;
    width: 300px;
}


.search-bar button {
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    background: #234191;
    font-size: 14px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 20px;
}

.search-bar button span {
    margin-left: 7px;
}

.search-bar button:hover,
.add-action:hover,
.dropbtn:hover {
    background-color: #36529B;
}

.dropdown-menu {
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #234191;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-title {
    display: none;
    position: absolute;
    right: 0;
    top: 32px;
    background-color: #fff;
    border-radius: 8px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-title a {
    color: #244291;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-title a:hover {
    background-color: #ECF5FF;
}

.dropdown-menu:hover .dropdown-title {
    display: block;
}

.add-action {
    background-color: #234191;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 20px;
}


.table-student-1 {
    background-color: #fff;
    margin: 12px;
    border-radius: 8px;
    padding: 16px 12px;
    width: 95%;
}

tr {
    padding: 12px 0;
}


table {
    font-size: 12px;
    border-collapse: collapse;
    width: 1100px;
}

thead th {
    padding: 14px 0;
    top: 0;
    background-color: #fff;
    color: #234191;

}

td {
    padding: 10px 0;

}

th,
td {
    text-align: left;
    padding: 12px 8px;
    border-bottom: 1px solid #ddd;
}

.student {
    padding: 4px 8px;
    border-radius: 4px;
}

.new-student,
.call-back-student {
    border: 1px solid #D2B25E;
    background-color: #ffebc5;
    color: #D2B25E;
}

.success-student,
.potential-student {
    border: 1px solid #008767;
    background-color: #a6e7d8;
    color: #008767;
}

.unsuccess-student {
    border: 1px solid #DF0404;
    background-color: #ffc5c5;
    color: #DF0404;
}

.menu-text.text-light {
    color: white;
}

a.add-action-btn {
    text-decoration: none;
}

table.table-student-1 th:last-child {
    width: 32px;
    padding-right: 16px;
}

table.table-student-1 th:nth-last-child(2) {
    width: 80px;
}

@media (max-width: 1200px) {
    .task-bar {
        flex-wrap: wrap;
    }

    .list-student-nav {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .sidebar {
        width: 75px;
    }


    .main-content {
        position: absolute;
        left: 75px;
        right: 0;
        height: 60px;
        width: 100%-80px;
        bottom: 0;
        top: 0;
    }


    .search-bar,
    .action-bar {
        flex-basis: 100%;
        margin-bottom: 8px;
    }

    .table-student-1 table {
        overflow-y: scroll;
        overflow-x: scroll;
    }
}

@media (max-width: 680px) {

    .task-bar,
    .card-wraper {
        flex-wrap: wrap;
    }

    .sidebar {
        display: none;
        transition: all 0.5s ease-in-out;
    }

    .header-title h2 {
        font-size: 18px;
    }

    .main-content {
        position: absolute;
        left: 0;
        right: 0;
        height: 60px;
        width: 100%;
        bottom: 0;
        top: 0;
    }

    .list-student-nav {
        margin-top: 8px;
        margin-bottom: 8px;
    }


    .search-bar,
    .action-bar {
        flex-basis: 100%;
        margin-bottom: 8px;
    }

    .search-bar input[type='text'] {
        width: 200px;
    }

    .card-wraper {
        width: 100%;
    }

    .card-container {
        flex-basis: 100%;
    }

    .table-student-1 table {
        width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .menu-mobile-btn {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2000;
        width: 240px;
        height: 100vh;
        padding: 0 16px;
        color: #fff;
        overflow: hidden;
        background: #234191;
    }

    .hideMobile-btn {
        display: block;
    }
}





/* form add student */
.add-student-form {
    padding: 12px;
}

.add-student-form .form-container {
    flex-basis: 25%;
    margin: 10px 20px;
}

.form-field {
    display: flex;
}


.add-student-form input[type="text"],
.add-student-form input[type="date"] {
    height: 40px;
    padding: 0 8px;
    border-radius: 4px;
    margin-top: 8px;
}



/* gender*/
.select-menu .select-btn {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 12px;
    font-size: 13px;
    border-radius: 4px;
    align-items: center;

    cursor: pointer;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.genderradioactive .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 12px;
    margin-top: 8px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.genderradioactive .options {
    display: block;
}

.options .option {
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}

.submit-btn {
    margin: 10px 20px;

}

.submit-btn input[type="submit"] {
    background-color: #445da1;
    color: white;
    padding: 0 40px;
    height: 36px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}



@media (max-width: 1200px) {
    .sidebar {
        width: 75px;
    }


    .main-content {
        position: absolute;
        left: 75px;
        right: 0;
        height: 60px;
        width: 100%-80px;
        bottom: 0;
        top: 0;
    }

    .add-student-form .form-container {
        flex-basis: 100%;
    }
}

@media (max-width: 680px) {
    .form-field {
        flex-wrap: wrap;
    }

    .sidebar {
        width: 75px;
        position: fixed;

    }

    .header-title h2 {
        font-size: 18px;
    }

    .main-form {
        position: absolute;
        left: 75px;
        right: 0;
        height: 60px;
        width: 100%-80px;
        bottom: 0;
        top: 0;
    }

    .add-student-form .form-container {
        flex-basis: 100%;
        margin: 0px 8px;
    }

    .add-student-form .form-container:first-child {
        margin-bottom: 20px;
    }
}