
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    height: 100%;
}
#main {
    height: 100%;
    
}
/* Sidebar styles */
.sidebar {
    background-color: #234191;
    padding: 20px;
    color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 220px ;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-icon {
    margin-right: 10px;
    color: #ffffff;
}

.menu-text {
    color: #ffffff;
    font-size: 1rem;
}
.sidebar ul {
    padding: 0;
}
.sidebar ul>li {
    list-style-type: none;
}
.sidebar ul>li>a {
    text-decoration: none;
}
/* Add more styles for sub-items if needed */

/* Media query for responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}
#content {
    width: 100%;
    margin-left: 220px;
}